name: ci
on:
  push:
    branches:
      - '*'
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - 'main'
permissions: write-all
        # actions: write
        # checks: write
        # contents: write
        # deployments: write
        # id-token: write
        # issues: write
        # discussions: write
        # packages: write
        # pages: write
        # pull-requests: write
        # repository-projects: write
        # security-events: write
        # statuses: write
env:
    image_name: windows-app
    LATEST_TAG: ${{ secrets.DOCKERHUB_USERNAME }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v5
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
            # list of Docker images to use as base name for tags
          images: |
            ${{ env.LATEST_TAG }}/${{ env.image_name }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            # type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            # type=raw,value=sha
            type=sha
      ## -- update script for deploy
      # - 
      #   name: Run build scriptxx
      #   run: ./.github/workflows/build.sh
      #   shell: bash
      - 
        name: Custom script
        run: |
         echo "helloworld"
         echo "pushed code ${{ steps.meta.outputs.tags }}"
         #!/bin/bash
         git config user.email sree7k7@gmail.com
         git config user.name sree7k7
         git pull
         git config pull.rebase false
         echo "bulding build.shx"
         cat deployment.yaml
         echo "1"
         sed -i 's+sree7k7/my-web:v6+sree7k7/my-web:v8+g' ./deployment.yaml
         echo "sed worked"
         cat deployment.yaml
         git pull
         git add .
         git commit -m "added"
         git push https://${{ secrets.DOCKERHUB_USERNAME }}:${{ secrets.GIT_PASS }}@github.com/${{ secrets.DOCKERHUB_USERNAME }}/github-action-for-docker.git
         
         echo "pushed code ${{ steps.meta.outputs.tags }}"
        shell: bash


